<center>
	<!--[if mso]><table><tr><td class="mui-container-fixed"><![endif]-->
	<div class="mui-container">
		<div class="mui--text-display1"><%=header%></div>
		<div class="mui--text-body1"><%=text%></div>
		<table class="mui-btn mui-btn--primary mui-btn--large" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<a href="<%=href%>"><%=action%></a>
				</td>
			</tr>
		</table>
		<br>
		<div class="mui--text-title"><%=EMAIL_SIGNATURE%></div>
	</div>
	<!--[if mso]></td></tr></table><![endif]-->
</center>