<div class="view">
  <div class="mdl-grid mdl-color--white" style="justify-content: space-between;">
    <button onclick="tags.box.open(false);"
            class="mdl-cell mdl-cell--3-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        <%=lang.users.add_user%>
    </button>
    <div class="mdl-cell mdl-cell--4-col" style="margin-top: -4px;">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="search" onkeyup='search(this);'>
            <label class="mdl-textfield__label" for="search"><%=lang.users.search%></label>
        </div>
    </div>
    <!--<hr class="mdl-cell mdl-cell--12-col" style="margin-top: -16px;">-->
    <div class="mdl-cell mdl-cell--12-col" style="margin-top: -16px;">
        <users></users>
        <box></box>
    </div>
  </div>
  <script>
    function search(f){
        clearTimeout(f.timeout);
        f.timeout = setTimeout(function(){
            window.tags.users.filter = f.value;
            window.tags.users.pull();
        },600);
    }
  </script>
</div>