<div class="view">
  <div class="mdl-grid mdl-color--white" style="justify-content: space-between;">
    <button onclick="addGroup();"
            class="mdl-cell mdl-cell--3-col mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
        <%=lang.lists.add%>
    </button>
    <listings class="mdl-grid mdl-cell--12-col" style="margin-top:1em;"></listings>
  </div>
  <style>
    .mdl-card.group{
        margin:16px;
    }
  </style>
  <script>
    function editGroup(ev){
        var tag = null;
        swal({
            position: 'top',
            width: "600px",
            //title: 'EDIT GROUP',
            html:
              '<div class="w-100" style="margin-top:16px; min-height:450px; text-align:left;">' +
              '<group></group>' +
              '</div>',
            showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
            confirmButtonText:'Save',
            cancelButtonText:'Cancel',
            onOpen:function(e){
                $(e).find('.swal2-actions').css('display', 'block');
                $(e).find('.swal2-title').css({
                    'margin-bottom':'-16px',
                    'margin-top':'-16px',
                    'font-size' : '1.3em'
                });
                $(e).find('.swal2-header').css('flex-direction', 'unset');
                tag = riot.mount('group')[0];
                tag.pull(ev.item);
            }
        })
        .then(function(result){
          if(result.value) tag.save();
        })
    }
  </script>
  <script>
    
    function createListing(data){
      console.log(data)
      var name = data[0],
          type = data[1],
          mailbox = data[2]
        ;
      $.post('/group/list/'+ mailbox, {
        mailbox: mailbox,
        name: name,
        type: type,
        create: true,
      }).then(function(r){
        console.log(r)
        window.tags.listings.pull();
      })
    }
    
    function addGroup(){
        swal.setDefaults({
            input: 'text',
            confirmButtonText: '<%=lang.lists.next%> &rarr;',
            showCancelButton: true,
            progressSteps: ['1', '2', '3' ]
          })
          
          var steps = [
            {
              title: '<%=lang.lists.list_name%>',
              text: '<%=lang.lists.list_name_tip%>',
              inputValidator: (value) => {
                return !value && '<%=lang.lists.list_name_required%>'
              }
            },
            {
              input: 'radio',
              inputOptions: {
                subscription: "<%=lang.lists.subscribe_list_name%>",
                privategroup: "<%=lang.lists.private_group_name%>",
                //opengroup: "Open Group (everyone can broadcast messages to group members)",
              },
              inputValue: 'subscription',
              html: '<h4><%=lang.lists.listing_type_title%></h4>',
            },
            {
              input: 'text',
              html: '<h4><%=lang.lists.email_box_name%></h4><small>* <%=lang.lists.email_box_tip%></small>',
              inputValidator: (value) => {
                return !value && '<%=lang.lists.email_box_required%>'
              }
            },
          ]
          
          swal.queue(steps).then((result) => {
            swal.resetDefaults()
            if (result.value) {
              swal({
                title: '<%=lang.lists.create_new%>',
                html:
                  '<div style="text-align:left;width:70%;display:inline-block;">' +
                  '<p><b>Name: </b>' +
                   result.value[0] +
                  '</p>'+
                  '<p><b>Email: </b>' +
                   result.value[2] + "@<%=DOMAIN%>" +
                  '</p>'+
                  '<p><b>Type: </b>' +
                   steps[1].inputOptions[result.value[1]] +
                  '</p>' +
                  '</div>',
                confirmButtonText: '<%=lang.lists.create_btn%>',
                showCancelButton: true,
              }).then(function(r){
                if(r.value){
                  createListing(result.value)
                }
              })
            }
          })
    }
  </script>
</div>