<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>NikaMail</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=<%=locale%>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/js/material.min.css">
    <link rel="stylesheet" href="/js/getmdl-select.min.css">
    <link rel="stylesheet" href="/js/mdl-ext.min.css">
    <link rel="stylesheet" href="/styles.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    #loader{
      width:100% !important;
    }
    </style>
    <script type="text/javascript">
      function L(c){window.addEventListener('load',c);}
      window.pinger = {};
    </script>
    <link rel="stylesheet" type="text/css" href="/js/mdl-ext.min.css">
    <%if defined?(tables)%>
      <link rel="stylesheet" type="text/css" href="/js/dataTables.material.min.css">
    <%end%>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout <%if authorized?%>mdl-layout--fixed-drawer<%end%> mdl-layout--fixed-header">
    
      <header class="mdl-layout__header">
          <%= erb :"partial/header", :locals => locals %>
        <div id="loader" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      </header>
      
      <%if authorized?%>
        <div class="mdl-layout__drawer">
          <header class="logo">
            <%= erb :"partial/logo", :locals => locals %>
          </header>
          <nav class="mdl-navigation">
            <%= erb :"partial/menu", :locals => locals %>
          </nav>
        </div>
        <%end%>
      <main class="mdl-layout__content">
         <%= yield %>
      </main>
    </div>

    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title" id="title"></h4>
      <div class="mdl-dialog__content">
        <p id="error" style="color: red;"></p>
        <p id="message"></p>
      </div>
    </dialog>
    <div id="toast" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/material.min.js"></script>
    <script type="text/javascript" src="/js/mdl-ext.min.js"></script>
    <script type="text/javascript" src="/js/getmdl-select.min.js"></script>
    <script type="text/javascript" src="/js/sweetalert2.js"></script>
    
    <%= erb :"misc/alerts" %>
    <%if defined?(tables)%>
      <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="/js/dataTables.material.min.js"></script>
    <%end%>
    <%if defined?(riot)%>
      <script type="text/javascript" src="/js/riot+compiler.min.js"></script>
      <%for x in riot%>
        <script type="riot/tag"><%="\n"%><%= erb :"#{x}", :locals => locals %></script>
      <%end%>
      <script type="text/javascript">
        riot.compile(function(e) {
          var t = riot.mount('*');
          window.tags = {};
          for( var i in t){
            var tag = t[i];
            window.tags[tag.__.impl.name] = tag; 
          }
        })
      </script>
    <%end%>
    <!--<script type="text/javascript" src="/js/pinger.js"></script>-->
  </body>
</html>
