<div class="view justify-center">
	<div class="mdl-card w-500px mdl-shadow--2dp">
		<%=form.render%>
	</div>
</div>

<script>
	L(function(){
		var data = <%=settings%>;
		setTimeout(function(){
			$('[data-val="'+data.language+'"]').trigger('click');
			$('input[name="domain"]').val(data.domain).parent().addClass('is-dirty');
			$('input[name="password"]').parent().addClass('is-invalid');
			if(data.mx)$('input[name="mx"]').prop('checked', true).parent().addClass('is-checked');
			if(data.mta)$('input[name="mta"]').prop('checked', true).parent().addClass('is-checked');
			if(data.pop)$('input[name="pop"]').prop('checked', true).parent().addClass('is-checked');
			if(data.dkim)$('input[name="dkim"]').prop('checked', true).parent().addClass('is-checked');
		},300);
		
		$('input[type="file"]').on('change', function(ev){
			var that = this;
			console.log(that.name)
			var reader = new FileReader();
			reader.onload = function(e){
				var data = e.target.result;
				var el = $(
					"<input type='hidden' name='" +
					that.name + "_raw" +
					"' value='" + data +
					"'/>"
				);
				$(that).after(el);
			}
			reader.readAsDataURL(this.files[0]);
		});
		
	})
</script>

<style type="text/css">
	.mdl-card.settings{
		width: 100%;
	}
	.mdl-card__actions{
		text-align: center;
	}
</style>