<google>
	<form class="settings view">
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="google_otp">
			<input type="checkbox" id="google_otp" class="mdl-switch__input" name="google_otp" ref="google_otp" <%=otp? && 'checked'%>>
			<span class="mdl-switch__label">
				<%=lang.settings.google_authenticator%>
			</span>
		</label>
		<div class="view">
			<center if={yes}>
				<a class="mdl-button mdl-button--raised" onclick={turnon}>
					<%=lang.settings.show_qr%>
				</a>
			</center>
			<center if={showqr}>
				<p><%=lang.settings.scan_qr%></p>
				<div ref="qrcode"></div>
				<br>
				<a class="mdl-button mdl-button--raised" onclick={close}>
					<%=lang.settings.close_qr%>
				</a>
			</center>
		</div>
	</form>
	var that = this;
	this.on("mount", function(){
		that.yes = that.refs.google_otp.checked;
		that.update();
		$(this.refs.google_otp).on('change', function(){
			that.showqr = false;
			that.update();
			if(that.yes && !that.refs.google_otp.checked){
				that.turnoff();
			}else{
				that.yes = true;
				that.update();
			}
		})
	})

	this.close = function(){
		that.showqr = false;
		that.yes = true;
		that.update();
	}

	this.turnon = function(){
		confirm_password("<%=lang.settings.pwd_confirm%>", "<%=lang.settings.pwd_action%>", "<%=lang.settings.pwd_desc%>",
		"<%=lang.settings.pwd_placeholder%>",
		function(result){
			if(result.value)$.post("/settings/2fa_on", {password: result.value})
			.then(function(res){
				that.showqr = true;
				that.yes = false;
				that.update();
				new QRCode(that.refs.qrcode, res.message);
			})
			.catch(ResponseError);
		})
		
	}
	this.turnoff = function(){
		confirm_password("<%=lang.settings.pwd_confirm%>", "<%=lang.settings.pwd_action%>", "<%=lang.settings.pwd_desc%>",
		"<%=lang.settings.pwd_placeholder%>",
		function(result){
			if(!result.value){
				$(that.refs.google_otp).parent().addClass('is-checked');
				that.refs.google_otp.checked = true;
				return;
			}
			$.post("/settings/2fa_off", {password: result.value})
			.then(function(res){
				that.refs.google_otp.checked = false;
				that.showqr = false;
				that.yes = false;
				that.update();
				success("Second factor turned off")
			})
			.catch(ResponseError);
		})
		
	}
</google>