<profile>
	<form class="settings view profile-form" id="profile-form" action="/settings/profile" method="POST">
		<h5><%=lang.settings.profile_title%></h5>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
			<input class="mdl-textfield__input" id="language" name="language" ref="language" readonly/>
			<input type="hidden" name="lang" value="<%=settings[:lang] || 'en'%>" ref="lang"/>
			<label class="mdl-textfield__label" for="language"><%=lang.settings.profile_language%></label>
			<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="country">
				<%for l in settings[:langs]%>
				<li class="mdl-menu__item" data-val="<%=l[:lang]%>"><%=l[:name]%></li>
				<%end%>
			</ul>
		</div>
		<div class="mdl-textfield mdl-textfield--floating-label mdl-js-textfield">
			<input class="mdl-textfield__input" value="<%=settings[:email]%>" id="email" name="email" type="email"/>
			<label class="mdl-textfield__label" for="language"><%=lang.settings.profile_email%></label>
		</div>

		<br>
		<br>
		<p><%=lang.settings.profile_change_pwd%></p>
		<div class="mdl-textfield mdl-textfield--floating-label mdl-js-textfield">
			<input class="mdl-textfield__input" value="" id="password" type="password" name="password" />
			<label class="mdl-textfield__label" for="password"><%=lang.settings.profile_pwd%></label>
		</div>
		<div class="mdl-textfield mdl-textfield--floating-label mdl-js-textfield">
			<input class="mdl-textfield__input" value="" id="password_repeat" type="password" name="password_repeat"/>
			<label class="mdl-textfield__label" for="password_repeat"><%=lang.settings.profile_re_pwd%></label>
		</div>

		<br>
		<br>
		<p><%=lang.settings.profile_confirm%></p>
		
		<div class="buttons">
			<a class="mdl-button mdl-button--raised profile-form-submit"><%=lang.settings.profile_save%></a>
		</div>
	</form>
	<style scoped>
		p{margin-bottom: 0px;}
	</style>
	var that = this;
	this.on('mount',function(){
		setTimeout(function(){
			$("li[data-val='<%=settings[:lang] || 'en'%>']").click()
			InitForm("profile-form", "/settings");
		},450);
	});

</profile>