<div class="view">
    <div>
        <h4>EVERYTHING READY</h4>
        <br>
    </div>
    <div>
        <button class="reboot mdl-button mdl-button--raised mdl-button--accent" onclick="Reboot('/');">
            Reboot!
        </button>
    </div>
</div>
<style>
    .view {
        margin-top: 10%;
        text-align: center;
    }
    .reboot{
        font-size:20px;
        height: 120px;
        width: 120px;
    }
</style>