
<div class="view">
<%=table.render%>
<%=userform.render%>
</div>

<script type="text/javascript">
	L(function(){
		$(document).on("edit:form:opened", function(ev,form){
			form.find("input#id").val(form.find("input#login").val());
			form.find("input#password").val("");
		})
	});
</script>