body{
  background: url(/images/back1.png);
}
.swal2-radio{
  flex-direction: column !important;
  justify-content: left !important;
  align-items: left !important;
}
.swal2-radio label{
  margin-bottom: 16px !important;
}
a.mdl-card{
  text-decoration: none;
}
a.mdl-card:hover{
  border: 2px solid;
}
.mdl-button{
  border-radius: 10em;
}
.mdl-layout-title{
  font-size: 15px;
}
.w-100{
  width: 100%;
}
.w-500px{
  width: 500px;
}
.justify-center{
  justify-content: center;
  display: flex;
}
.mdl-textfield__label i{
  position: absolute;
  margin-top: -3px;
  margin-left: 12px;
}
.mdl-textfield__label span{
  position: absolute;
  margin-left: 37px;
}
.mdl-button .mdl-chip{
  height: 26px;
  line-height: unset;
}
.mdl-button .mdl-chip__text{
  margin-top:-8px;
}

.mdl-dialog{
  border-radius: 6px;
}

.center-content{
  display: flex;
  justify-content: center;
}
.red{
  color:red;
}
.mdl-textfield{
  width: 100%;
}

.mdl-textfield textarea.mdl-textfield__input {
  min-height: 150px;
}

.logo{
  min-height: 150px;
}

.mdl-navigation .mdlext-collapsible-group{
  padding:16px;
}
.padding-0{
  padding: 0px !important;
}
.view{
  padding: 2em;
}

.dataTables_filter{
  display: inline-block;
  margin-left: 1em;
}
.toolbar{
  display: inline-block;
}

.toolbar .mdl-button{
  border-radius: 0px;
  border-left:1px solid #f7f7f7;
}

h4.mdl-card__title{
  margin-top: 0px;
  color:#fff;
}

.mdl-dialog.big{
  width:90%;
  max-width: 640px;
  top: 2%;
  height: 90%;
}
.mdl-dialog.big > .title{
  margin-top: 0px;
}

.mdl-dialog.big .mdl-dialog__actions {
  padding: 16px 0px 16px 0px;
  margin: 0px 16px 0px -26px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.mdl-layout__drawer-right .mdl-card{
  width:100%;
}

.close-drawer{
  margin: -6px;
  margin-left: 0px;
  margin-right:25px;
  color: white;
  font-size: 36px;
  cursor: pointer;
  display: none;
}
.drawer--big{
  width: 100% !important;
  -webkit-transform: translateX(100%) !important;
  -ms-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
}
.drawer--big .close-drawer, .dr-active .close-drawer{
  display: inline;
}
.mdl-layout__drawer-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 340px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
    background: #fafafa;
    -webkit-transform: translateX(350px);
    -ms-transform: translateX(350px);
    transform: translateX(350px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}

.dr-active {
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    transform: translateX(0) !important;  
}


.mdl-layout__obfuscator-right {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    visibility: hidden;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.ob-active {
    background-color: rgba(0,0,0,.5);
    visibility: visible;
}


.fixed{
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.notice{
  min-height: 20px;
  width:100%;
  background: #f44336;
  color: #000;
  border-radius: 0px;
}
.notice .mdl-card__supporting-text{
  color: #000;
}
.notice .text{
  float: left; 
  padding-top: 0.8em;
}
.notice .material-icons{
  width: 50px; 
  float: left; 
  margin-top: -0.1em;
}
.notice .mdl-button{
  float: right;
}
.notice .mdl-card__actions{
  text-align: right;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}




