<script type="text/javascript">
	
	function success(text, cb){
		swal({
		  title: text,
		  type: "success",
		  timer: 2000,
		}).then((result) => {
			if(cb)cb();
		})
	}

	function confirm(button, title, text, cb){
		swal({
		  title: title,
		  html: text,
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: button
		}).then((result) => {
			if (result.value) {
				cb(result.value);
		  	}
		})
	}

	function confirm_input(button, title, text, ph, cb){
		swal({
		  title: title,
		  html: text,
		  input: 'text',
		  inputPlaceholder: ph,
		  inputAutoTrim: true,
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: button
		}).then((result) => {
			if (result) {
				cb(result);
		  	}
		})
	}

	function confirm_password(button, title, text, ph, cb){
		swal({
		  title: title,
		  html: text,
		  input: 'password',
		  inputPlaceholder: ph,
		  inputAutoTrim: true,
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: button
		}).then((result) => {
			if (result) {
				cb(result);
		  	}
		})
	}

	function delete_confirm(cb){
		swal({
		  title: '<%=lang.dialogs.confirm_title%>',
		  text: "<%=lang.dialogs.unrevertable%>",
		  type: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: '<%=lang.dialogs.delete_it%>'
		}).then((result) => {
			if (result.value) {
				cb();
		  	}
		})
	}

	function delete_success(){
		swal(
	      '<%=lang.dialogs.delete_success_title%>',
	      '<%=lang.dialogs.delete_success%>',
	      'success'
	    );
	}
	

	function server_error(){
		swal(
	      '<%=lang.dialogs.error%>',
	      '<%=lang.dialogs.server_error%>',
	      'error'
	    );
	}

</script>