<box>
    <dialog class="mdl-dialog" ref="dialog">
        <p class="mdl-dialog__title" style="font-size:18px;">
            <span if={!updating}><%=lang.users.new_btn%></span>
            <span if={updating}><%=lang.users.edit_btn%></span>
            <%=lang.users.box%>
        </p>
        <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield {'mdl-textfield--floating-label':!updating}">
              <input class="mdl-textfield__input" type="text"
                     pattern="^[a-z0-9+-\.]*" ref="name" disabled={updating} >
              <label class="mdl-textfield__label" if={!updating}><%=lang.users.name%></label>
              <span class="mdl-textfield__error">
                <%=lang.users.name_err%>
              </span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" ref="password">
              <label class="mdl-textfield__label"><%=lang.users.password%></label>
            </div>
            
        </div>
        <div class="mdl-dialog__actions" style="justify-content: space-between; padding-left: 0px;">
            <button type="button" class="mdl-button mdl-button--raised mdl-button--colored" onclick={save}><%=lang.users.save%></button>
            <button type="button" class="mdl-button" onclick={remove} if={updating}><%=lang.users.delete%></button>
        </div>
    </dialog>
    var that = this;
    this.updating = false;
    
    this.on('mount', function(){
    });
    
    this.open = function(ev){
        if(ev){
            that.updating = true;
            $(that.refs.name).val(ev.item.address);
        }
        that.update()
        
        function exit(ev){
            if(outsideDialog.bind(this)(ev)){
                that.updating = false;
                that.clear();
                that.update();  
            }
        }
        
        that.refs.dialog.addEventListener('click',exit.bind(that.refs.dialog)); 
        that.refs.dialog.showModal();
    }
    
    this.close = function(){
        that.updating = false;
        that.clear();
        that.update();
        that.refs.dialog.close();
    }
    
    this.save = function(){
        var data = that.data();
        if(!data)return;
        $.ajax({
            url: '/boxes',
            method: 'POST',
            data: data
        })
        .then(function(){
            that.close();
            swal(
                "<%=lang.users.added%>",
                null,
                'success'
            )
            window.tags.users.pull();
        })
        .catch(function(res){
            that.close();
            swal(
                res.responseJSON.message,
                null,
                'error'
            )
        })
    };
    
    this.remove = function(){
        var data = that.data();
        that.close();
        swal({
            title: '<%=lang.users.sure%>',
            text: "<%=lang.users.sure_tip%>",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '<%=lang.users.yes_delete%>',
            cancelButtonText: '<%=lang.users.no_delete%>',
            confirmButtonClass: 'mdl-button mdl-button--raised mdl-button--accent',
            cancelButtonClass: 'mdl-button mdl-button--raised',
            buttonsStyling: false,
            reverseButtons: true
          }).then((result) => {
            if (result.value) {
                $.ajax({
                    url:'/boxes/delete',
                    method: "POST",
                    data:data
                }).then(function(){
                    window.tags.users.pull();
                    swal(
                        '<%=lang.users.deleted%>',
                        '<%=lang.users.deleted_tip%>',
                        'success'
                      )
                })
                .catch(function(res){
                    swal(
                        res.responseJSON.message,
                        null,
                        'error'
                    )
                });
              
            } else if (
              result.dismiss === swal.DismissReason.cancel
            ) {
 
            }
          })
    }
    
    this.data = function(){
        var name = $(that.refs.name).val().trim();
        var password = $(that.refs.password).val().trim();
        if(!name)
            return;
        return {
            name:name,
            password:password,
            updating:that.updating,
        }
    }
    
    this.clear = function(){
        $(that.root).find('input, textarea').val('');
    }
    
</box>