<group>
    <h4 style="text-align:center;">
        <big>{data.mailbox}@<%=DOMAIN%></big>
        <br>
        <small if={data.type === 'subscription'}>
            <%=lang.lists.edit_subscribe_desc%>
        </small>
        <small if={data.type === 'privategroup'}>
            <%=lang.lists.group_desc%>
        </small>
        <small if={data.type === 'opengroup'}>
            Anyone sending emails to this address will subscribe and broadcast emails to other subsribers.
        </small>
    </h4>
    
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect w-100" ref="tabs">
        <div class="mdl-tabs__tab-bar" style="justify-content: left;">
            <a href="#list-panel" class="mdl-tabs__tab is-active">
                <%=lang.lists.subscribers%> ({data.list &&
            data.list.length || 0})
            </a>
            <a href="#settings-panel" class="mdl-tabs__tab">
                <%=lang.lists.settings%>
            </a>
            <a href="#rest-panel" class="mdl-tabs__tab">
                <%=lang.lists.rest%>
            </a>
            <a href="#delete-panel" class="mdl-tabs__tab">
                <%=lang.lists.delete%>
            </a>
        </div>
      
        <div class="mdl-tabs__panel is-active" id="list-panel">
            <div class="view mdl-shadow--3dp" show={add} style="margin:1em;background: #f7f7ff;">
                <h6>
                   <%=lang.lists.add_memeber%>
                </h6>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                     ref="name">
                    <input class="mdl-textfield__input" type="name" ref="name_input">
                    <label class="mdl-textfield__label" for="name">
                        <%=lang.lists.name%>
                    </label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
                     ref="email">
                    <input class="mdl-textfield__input" type="email" ref="email_input">
                    <label class="mdl-textfield__label" for="email">
                        <%=lang.lists.email%>
                    </label>
                </div>
                <br><br>
                <div style="text-align:center;">
                    <button class="mdl-button mdl-button--raised mdl-button--colored" onclick={create}>
                        <%=lang.lists.add_member%>
                    </button>
                    <button class="mdl-button mdl-button--raised mdl-button--accent " onclick={addMember}>
                        <%=lang.lists.add_cancel%>
                    </button>
                </div>
            </div>
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp w-100" show={!add} >
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    <div ref="search" class="mdl-textfield mdl-js-textfield"
                        style="margin: -20px 0px;">
                        <input class="mdl-textfield__input" type="text" id="search"
                               ref="address" onkeyup={filter}>
                        <label class="mdl-textfield__label" for="search">
                            <%=lang.lists.search%>
                        </label>
                    </div>
                </th>
                <th>
                    <a class="mdl-button mdl-button--colored" onclick={addMember}
                       style="border:1px solid; margin-bottom: -4px;margin-right: -12px;">
                        <%=lang.lists.add%>
                    </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr each={subscribers}>
                <td class="mdl-data-table__cell--non-numeric">{address}</td>
                <td>
                    <a class="mdl-button mdl-button--accent" onclick={remove}
                       style="border:1px solid; margin-bottom: -4px;margin-right: -12px;">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
          <center if={!subscribers.length && !add}>
            <br>
            <br>
            <%=lang.lists.not_foud%>
          </center>
          
        </div>
        <div class="mdl-tabs__panel" id="settings-panel">
          <div class="view mdl-shadow--2dp mdl-color--deep-purple-700 mdl-color-text--deep-purple-50">
            <center if={data.type === 'privategroup'}><%=lang.lists.relay%></center>
            <center if={data.type === 'opengroup'}>Unsubscribe Address</center>
            <h5 style="text-align:center;">
              <u if={data.type === 'subscription'}>{data.relay}@<%=DOMAIN%></u>
              <u if={data.type === 'privategroup'}>{data.mailbox}@<%=DOMAIN%></u>
              <br><br>
              <p if={data.type === 'subscription'}>
                <%=lang.lists.relay_tip%>
              </p>
              <p if={data.type === 'privategroup'}>
                <%=lang.lists.relay_tip_private%>
              </p>
              <p if={data.type === 'opengroup'}>
                Anyone sending a message to this address will be unsubscribed from group messages.
              </p>
            </h5>
            <!--<hr>-->
            
            <div ref="sender" class="mdl-textfield mdl-js-textfield"
                style="margin: -20px 0px;" show={data.type === 'subscription'}>
                <br>
                <br>
                <center show={data.type === 'subscription'}>
                    <%=lang.lists.sender%>
                </center>
                <br>
                <input type="email" id="sender" class="w-100"
                    ref="sender_input"
                    onkeyup={setSender}
                    style="font-weight:bold; border:1px solid; padding: 6px; text-align:center;">
                
            </div>
            <br>
            <br>
            <p show={data.type === 'subscription'}>
                 <%=lang.lists.sender_tip_1%>
                <b>{data.relay}@<%=DOMAIN%></b>
                 <%=lang.lists.sender_tip_2%>
            <br>
            <br>
            </p>
            
          </div>
          
        </div>
        <div class="mdl-tabs__panel" id="rest-panel">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--grey-200 w-100" >
                <thead>
                  <tr>
                    <th>
                    METHOD
                    </th>
                    <th style="text-align:center;">
                        URL
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        GET
                    </td>
                    <td style="text-align:left;">
                       <b>https://<%=DOMAIN%>:10080/api/{data.mailbox}</b>
                       <br>
                       <br>
                       Return list of subscribesrs
                       <pre>Response: JSON Array[]</pre>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        POST
                    </td>
                    <td style="text-align:left;">
                       <b>https://<%=DOMAIN%>:10080/api/{data.mailbox}</b>
                       <br>
                       <br>
                        Add new subscriber <br>
                        <pre>Content-Type: application/json;</pre>
                        <pre>Body: {'{"address": "EMAIL ADDRESS"}'}</pre>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        DELETE
                    </td>
                    <td style="text-align:left;">
                       <b>https://<%=DOMAIN%>:10080/api/{data.mailbox}</b>
                       <br>
                       <br>
                        Delete Subscriber <br>
                        <pre>Content-Type: application/json;</pre>
                        <pre>Body: {'{"address": "EMAIL ADDRESS"}'}</pre>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="view">
                <h5>PASSWORD</h5>
                <input type="text" class="w-100" ref="apikey" onkeyup={setPassword} style="padding:6px;"
                       value={data.password}>
                <p>
                    <br>
                    Set a password in order to access API and email boxes for this listing.<br>
                    You can access corresponding email boxes with this password using POP3<br>
                    For the Rest API use it within get query.
                    <pre>Example: &password=PASSWORD </pre>
                </p>
              </div>
        </div>
        <div class="mdl-tabs__panel" id="delete-panel">
            <div class="view mdl-shadow--3dp mdl-color--red-800">
                <h3 style="text-align:center;" class="mdl-color-text--white">
                    <%=lang.lists.remove_listing%><br>
                    <small>
                        <%=lang.lists.remove_listing_warning%>
                        <br>
                        <small class="mdl-color-text--white">
                            <%=lang.lists.remove_listing_tip%>
                        </small>
                    </small>
                    <br>
                    <input type="text" ref="control_removal" onkeyup={setRemoval}>
                    <br>
                    <br>
                    <button class="mdl-button mdl-button--raised mdl-button--accent"
                            disabled={!(control_word===control_input)} onclick={removeListing}>
                        <%=lang.lists.remove_remove%>
                    </button>
                </h3>
            </div>
        </div>
    </div>
    <style scoped>
        div{
            font-family: Roboto;
        }
        center{
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            /*border-top: 1px solid #eee;*/
            padding-top: 2em;
        }
        input{
            padding:6px;
            color: #777;
        }
    </style>
    var that = this;
    this.control_word = '<%=lang.lists.control_word%>';
    console.log(this.control_word);
    this.subscribers = [];
    this.data = {
        mailbox: "mail",
        relay: "mail+relay-a1bcv",
        sender: "manager@mail.com",
        list: [],
    };
    this.on('mount', function(){
        new MaterialTabs(this.refs.tabs);
        new MaterialTextfield(this.refs.search);
        new MaterialTextfield(this.refs.name);
        new MaterialTextfield(this.refs.email);
        new MaterialTextfield(this.refs.sender);
    })
    
    this.addMember = function(){
        that.add = !that.add;
        that.update();
    }
    
    this.changed = function(){
        that.require_save = true;
    }
    
    this.create = function(){
        var name = that.refs.name_input.value;
        var email = that.refs.email_input.value;
        if(!name || !email || email.indexOf('@')==-1)
            return Toast("<%=lang.lists.input_name_email%>");
        var addr = name + " <" + email + ">";
        
        that.data.list = ([{address: addr}]).concat(that.data.list);
        that.subscribers = that.data.list;
        that.refs.name_input.value = "";
        that.refs.email_input.value = "";
        that.add = false;
        that.changed();
        that.update();
    }
    
    this.setRemoval = function(ev){
       that.control_input = ev.target.value.trim();
       that.update();
    }
    
    this.setSender = function(ev){
        var sender = ev.target.value;
        if(sender.indexOf('@')!=-1){
            that.data.sender = sender;
            that.changed();
            that.update();
        }
        
    };
    
    this.setPassword = function(ev){
        this.hit = (this.hit || 0) + 1;
        var pwd = ev.target.value;
        if(pwd){
            that.data.password = pwd;
            that.changed();
            that.update();
        }
        else{
            if(this.hit%2==0)
                that.data.password = that.data.password + '12112211211';
            that.changed();
            that.update();
        }
    };
    
    this.remove = function(ev){
        var item = ev.item;
        that.subscribers = that.subscribers.filter(function(e){
            return ev.item.address !== e.address;
        });
        
        that.data.list = that.data.list.filter(function(e){
            return ev.item.address !== e.address;
        });
        that.changed();
        that.update();
    }
    
    this.filter = function(ev){
        clearTimeout(ev.target.timeout);
        ev.target.timeout = setTimeout(function(){
            that.subscribers = that.data.list.filter(function(e){
                return e.address.indexOf(ev.target.value) != -1;
            }).slice(0,8);
            that.update();
        },600);  
    }
    
    this.pull = function(item){
        that.data = item;
        that.update();
        $.get("/group/list/"+item.mailbox).then((r)=>{
            var data = JSON.parse(r);
            that.data = data;
            that.subscribers = data.list.slice(0,8);
            $(that.refs.sender_input).val(data.sender);
            $(that.refs.apikey).val(data.password);
            $(that.refs.sender).addClass('is-focused');
            that.update();
        })
    }
    
    this.removeListing = function(ev){
        var mailbox = that.data.mailbox;
        $.ajax({
            url: "/group/list/"+mailbox,
            method:"DELETE"
        }).then(function(res){
            window.tags.listings.pull();
            swal.close();
            swal("<%=lang.lists.success%>", 'success');
        })
    }
    this.save = function(){
        //console.log(that.data);
        var data = that.data;
        data.list = JSON.stringify(data.list);
        $.post("/group/list/"+data.mailbox, data).then(function(res){
            //console.log(res)
            window.tags.listings.pull();
        })
    }
    
</group>