<listings>
    <center if={!listings.length}  class="mdl-cell--12-col">
        <br>
        <br>
        <h3>
            <%=lang.lists.no_lists%><br>
            <small><%=lang.lists.no_lists_tip%></small>
        </h3>
        <br>
        <br>
    </center>
    <a href="#" each={listings} class="mdl-card group mdl-shadow--4dp mdl-cell--3-col" onclick={editGroup}>
        <svg fill="currentColor" width="100%" height="50px" viewBox="0 0 1 1">
          <text x="0.5" y="0.5"
                  font-family="Roboto"
                  font-size="0.4"
                  fill="#888"
                  text-anchor="middle"
                  dy="0.1">
                {name}
            </text>
            
          </h3>
        </svg>
        <br>
         <svg fill="currentColor" width="100%" height="100px" viewBox="0 0 1 1">
            <text if={type=='subscription'} x="0.5" y="0.0"
                  font-family="Roboto"
                  font-size="0.1"
                  fill="#888"
                  text-anchor="middle"
                  dy="0.1">
                <%=lang.lists.type_susbscribe%>
            </text>
            
            <text if={type=='privategroup'} x="0.5" y="0.0"
                  font-family="Roboto"
                  font-size="0.1"
                  fill="#888"
                  text-anchor="middle"
                  dy="0.1">
                <%=lang.lists.type_private%>
            </text>
            
            <text if={type=='opengroup'} x="0.5" y="0.0"
                  font-family="Roboto"
                  font-size="0.1"
                  fill="#888"
                  text-anchor="middle"
                  dy="0.1">
                OPEN GROUP
            </text>
            
            <text x="0.5" y="0.5"
                  font-family="Roboto"
                  font-size="0.4"
                  fill="#888"
                  text-anchor="middle"
                  dy="0.1">
                {length}
            </text>
            <text x="0.5" y="0.8"
                  font-family="Roboto"
                  font-size="0.2"
                  fill="#888"
                  text-anchor="middle"
                  dy="0.1">
                MEMBERS
            </text>
        </svg>

    </a>
    
    var that = this;
    this.listings = []
    this.on('mount', function(){
        this.pull();
    });
    this.pull = function(){
        $.get('/group/lists').then(function(data){
           that.listings = JSON.parse(data);
           that.update();
        });
    }
</listings>