<users>
    <table class="mdl-data-table mdl-js-data-table w-100">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    <%=lang.users.address%>
                </th>
                <th><%=lang.users.num_emails%></th>
                <th><%=lang.users.action%></th>
            </tr>
        </thead>
        <tbody>
            <tr each={users}>
                <td class="mdl-data-table__cell--non-numeric">
                    {address}@{domain}
                    <span if={aliases}>
                        ({aliases})
                    </span>
                </td>
                <td>{count || '0+'}</td>
                <td>
                    <button class="mdl-button mdl-button--colored" onclick={openBox}>
                        <i class="material-icons">edit</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    var that = this;
    this.users = []
    this.openBox = function(item){
        window.tags.box.updating = true;
        window.tags.box.open(item);
    }
    this.on('mount', function(){
        this.pull();
    });
    
    this.pull = function(){
        var filter = that.filter || '';
        $.get('/addresses', {filter: filter}).then(function(res){
            that.users = JSON.parse(res);
            that.update();
        })
    };
    
</users>