
<div class="mdl-layout__header-row">
	<span class="mdl-layout-title"><%=defined?(section_title) && section_title  || 'Section Title'%></span>
	<div class="mdl-layout-spacer"></div>
<!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
  <i class="material-icons">search</i>
</label>
<div class="mdl-textfield__expandable-holder">
  <input class="mdl-textfield__input" type="text" id="search">
  <label class="mdl-textfield__label" for="search">Enter your query...</label>
</div>
</div> -->

<%unless authorized?%>
	<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--white" href="<%= url '/login'  %>">
		<%=lang.menu.login%>
	</a>
<%else%>
	
<%end%>
</div>

<%if session[:notice]%>
	<div class="notice mdl-card mdl-shadow--1dp">
	  <div class="mdl-card__supporting-text">
	  	<span class="text">
	  		<i class="material-icons">warning_white</i>
	  		<span>
			    <%=session[:notice][:text]%>
		    </span>
	    </span>
	    <%if session[:notice][:action]%>
		    <a href="<%=session[:notice][:action][:href] || '#'%>" class="mdl-button mdl-js-button mdl-js-ripple-effect close" target="<%=session[:notice][:action][:target] || '_self'%>">
		      <%=session[:notice][:action][:text]%>
		    </a>
		<%end%>
	  </div>
	</div>
<%end%>