<!--<a class="mdl-navigation__link" href="<%= url '/'%>">
	<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
	<%=lang.menu.home%>
</a>-->

<a class="mdl-navigation__link" href="<%= url '/boxes'%>">
	<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">mail_outline</i>
	<%=lang.menu.boxes%>
</a>

<a class="mdl-navigation__link" href="<%= url '/groups'%>">
	<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">group</i>
	<%=lang.menu.departments%>
</a>

<!--<a class="mdl-navigation__link" href="<%= url '/subscribtions'%>">
	<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">call_split</i>
	<%=lang.menu.subscriptions%>
</a>-->


<a class="mdl-navigation__link" href="<%= url '/settings'%>">
	<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>
	<%=lang.menu.settings%>
</a>



<a class="mdl-navigation__link" href="<%= url '/logout' %>">
	<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">exit_to_app</i>
	<%=lang.menu.logout%>
</a>


<a class="mdl-navigation__link" href="/docs/" style="position:absolute; bottom:0px; left:0px; width:158px;">
	<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">book</i>
	<%=lang.menu.documentation%>
</a>